.sample-container {
    display: flex;
    flex-direction: row;
    border: solid 2px #65c547;
    border-radius: 7px;
    height: 80px;
    padding: 10px;
    margin-bottom: 5px;
}

.sample-container:hover {

}

.info-container {
    display: flex;
    flex: 8;
    flex-direction: column;
    align-items: flex-start;
}

.buttons-container {
    flex: 2;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 15px;
}

.buttons-container input:focus{
    outline: none;
}

.delete {
    margin-left: 15px;
}

.name {
    color: black;
    font-size: 18px;
    font-weight: bold;
    text-decoration-style: solid;
}

.name:hover {
    color: #2f933f;
}

.description {
    margin-top: 10px;
    margin-left: 15px;
    text-align: left;
    font-style: italic;
}